doctype html
html    
    head
        stylesheet(href="https://fonts.googleapis.com/css?family=Sigmar+One")
        style
            include style.css
        title=title
    body
      h1.main_heading This is login page
      h2.secondary Please click the button to log in
      div.btn
        a(href="/auth/google"): button.google_auth_button Login