html    
    head
        title=title
        stylesheet(href="https://fonts.googleapis.com/css?family=Sigmar+One")
        style
            include style.css
    body
        h1.hello Hi, #{user.displayName}! 
        h2.descr Sorry, you have reached the end of the internet
